{% extends 'base.html' %}

{% block title %}
  HCare-Patients-New
{% endblock %}


{% block breadcrumb %}
  <li class="breadcrumb-item active">Patients</li>
{% endblock %}

{% block content %}
<div class="row justify-content-left">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">New Patient</h3>
          <form method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Save</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  
{% endblock %}