{% extends 'base.html' %}

{% block title %}
  HCare-Patients
{% endblock %}


{% block breadcrumb %}
  <li class="breadcrumb-item active">Patients</li>
{% endblock %}

{% block content %}
<div class="mb-4">
  <a href="{% url 'new_patient' %}" class="btn btn-primary">New Patient</a>
</div>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Birthday</th>
        <th>Birth place</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
        <tr>
          <td>
            <a href="{% url 'patient' patient.pk %}">{{ patient.name }}</a>
          </td>
          <td class="align-middle">{{ patient.birthday }}</td>
          <td class="align-middle">{{ patient.birthplace }}</td>
          <td class="align-middle">{{ patient.address }}</td>
          <td class="align-middle">{{ patient.email }}</td>
          <td class="align-middle">{{ patient.phone }}</td>

          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% if patients.has_other_pages %}
<ul class="pagination">
  {% if users.has_previous %}
    <li><a href="?page={{ patients.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in patients.paginator.page_range %}
    {% if patients.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if patients.has_next %}
    <li><a href="?page={{ patients.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}
{% endblock %}