{% extends 'base.html' %}

{% block title %}
  {{ patient.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'patients' %}">Patients</a></li>
  <li class="breadcrumb-item active">{{ patient.name }}</li>
{% endblock %}

{% block content %}
  <div class="row">
  
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


      <div class="panel panel-info">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img width="50px" height="50px" alt="Patient  Pic" src="{{ patient.picture.url }}" class="rounded-circle"> </div>
            
            <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
              <dl>
                <dt>DEPARTMENT:</dt>
                <dd>Administrator</dd>
                <dt>HIRE DATE</dt>
                <dd>11/12/2013</dd>
                <dt>DATE OF BIRTH</dt>
                   <dd>11/12/2013</dd>
                <dt>GENDER</dt>
                <dd>Male</dd>
              </dl>
            </div>-->
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Date of birth:</td>
                    <td>{{patient.birthday}}</td>
                  </tr>
                  <tr>
                    <td>Place of birth:</td>
                    <td>{{patient.birthplace}}</td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>{{patient.sex}}</td>
                    </tr>
                  <tr>
                    <td>Email</td>
                    <td>{{patient.email}}</td>
                  </tr>
               
                    
                    <tr>
                    <td>Home Address</td>
                    <td>{{patient.address}}</td>
                  </tr>
                  
                    <td>Phone Number</td>
                    <td> {{patient.phone}}
                    </td>
                       
                  </tr>
                 
                </tbody>
              </table>
              
              <a href="#" class="btn btn-primary">New Consultation</a>
              <a href="#" class="btn btn-primary">View Piplines</a>
            </div>
          </div>
        </div>
             
        
      </div>
    </div>
  </div>
{% endblock %}